<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-main">
        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        </header>

        <div class="post-content italic-first-p" itemprop="articleBody">
            {{ content }}
        </div>

        <p class="post-meta">
            Thanks for reading! Comments? Problems? Put 'em <a href="https://github.com/rmhsilva/lispmethods">here</a>.
        </p>
        <p class="post-meta">
            {% if page.updated %}
            <span>Updated:</span> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified">{{ page.updated | date: "%b %-d, %Y" }}</time>
            {% else %}
            <span>Published:</span> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% endif %}
        </p>
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
