<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="footer-heading">
                        {{ site.title | escape }}
                    </li>
                    <li>
                        <a href="https://tinyletter.com/lispmethods">Get Updates</a>
                    </li>
                    <li>
                        <a href="https://github.com/rmhsilva/lispmethods">Github</a>
                    </li>
                    <li>
                        <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>

    </div>

</footer>
