<header class="site-header" role="banner">

    <nav class="site-nav">
        <div class="trigger">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </nav>

    <a class="site-title" href="{{ "/" | relative_url}}">
        <img class="logo" src="/assets/logo.svg" alt="lispmethods.com">
    </a>

</header>
