<header class="site-header" role="banner">

    <nav class="site-nav">
        <div class="trigger">
            <a class="page-link" href="{{ "/about" | relative_url }}">
                About
            </a>
            <a class="page-link" href="https://tinyletter.com/lispmethods">
                Subscribe
            </a>
        </div>
    </nav>

    <a class="site-title" href="{{ "/" | relative_url}}">
        <img class="logo" src="/assets/logo.svg" alt="lispmethods.com">
    </a>

</header>
